
*.lock


src/TSApp/ApplicationCore/obj/

src/TSApp/AppServices/obj/

*.cache

src/TSApp/Infrastructure/obj/

src/TSApp/.vs
src/TSApp/\.vs/TSApp/v15/
/src/TSApp/AppServices/bin
/src/TSApp/ApplicationCore/bin
/src/TSApp/Infrastructure/bin


src/TSApp/TSApp/bin
src/TSApp/TSApp/obj
